# Maven packaging files
/target/
BHBot\.jar

# Run time folders
chrome_profile/
logs/
screenshots/

# IntelliJ Files
BHBot\.iml
\.idea

# External executables
chromedriver\.exe
fisher-v1\.2\.4\.exe
fishing\.exe

# Configuration files
settings\.ini

# launch4j files
BHBot\.zip